<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
  {%- include head.html -%}
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136813990-3"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-136813990-4');
  </script>
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
</head>
  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
      <div class='wrapper'>
        <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQFtxpJ1BgHl563cOq7p0inkjwzhuT8Cmt_3LkMvYVD1Jy_LKu1twBtUM6Va1KvSW2ZUrEnzeV2PsSj/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
      </div>
    </main>
    {%- include footer.html -%}
  </body>

</html>
