---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
 
  {{ content }}

  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Latest Posts" }} 
      <video style='position: relative; top: 10px; width: 90%; 
      height: 400px; border: 2px solid black; border-radius: 8px;' controls loop>
      <source src="assets/video/filtered-2F090F34-A9E1-40F0-A091-2D0CB6262BC8.MP4" type=video/mp4>
  </video> 
  </h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a href="{{ post.url }}" ><img src="{{ post.thumbnail }}" style="border-radius: 8px"/>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <span class="post-meta">By: {{ post.author }}</span>
        {{ post.content | strip_html | truncatewords: 50 }}
      </li>
      {%- endfor -%}
    </ul>

    
  {%- endif -%}

</div>
